BHARAT INTERN

TASK 2 : MOVIE RECOMMENDER

AUTHOR : ADITIYA KUMAR

In [1]:
import pandas as pd   #importing pandas library

In [2]:
data = pd.read_csv(r'netflix_titles.csv')   #reading the input dataset

In [3]:
data.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

PRE-PROCESSING DATA

In [4]:
data['tags'] = data['director'] + '' + data['cast']+ ''+ data['listed_in']+ ''+ data['description']

In [5]:
data

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,tags
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",NaN
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",NaN
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,"Julien LeclercqSami Bouajila, Tracy Gotoas, Sa..."
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",NaN
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a...","David FincherMark Ruffalo, Jake Gyllenhaal, Ro..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g...",NaN
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...,"Ruben FleischerJesse Eisenberg, Woody Harrelso..."
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...","Peter HewittTim Allen, Courteney Cox, Chevy Ch..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,"Mozez SinghVicky Kaushal, Sarah-Jane Dias, Raa..."

In [6]:
data = data[['show_id', 'type', 'title', 'tags']]

In [7]:
data

,show_id,type,title,tags
0,s1,Movie,Dick Johnson Is Dead,NaN
1,s2,TV Show,Blood & Water,NaN
2,s3,TV Show,Ganglands,"Julien LeclercqSami Bouajila, Tracy Gotoas, Sa..."
3,s4,TV Show,Jailbirds New Orleans,NaN
4,s5,TV Show,Kota Factory,NaN
...,...,...,...,...
8802,s8803,Movie,Zodiac,"David FincherMark Ruffalo, Jake Gyllenhaal, Ro..."
8803,s8804,TV Show,Zombie Dumb,NaN
8804,s8805,Movie,Zombieland,"Ruben FleischerJesse Eisenberg, Woody Harrelso..."
8805,s8806,Movie,Zoom,"Peter HewittTim Allen, Courteney Cox, Chevy Ch..."
8806,s8807,Movie,Zubaan,"Mozez SinghVicky Kaushal, Sarah-Jane Dias, Raa..."

In [8]:
data.dropna(inplace=True) #removed any null value

C:\Users\Rishuraj\AppData\Local\Temp\ipykernel_13132\4200352890.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.dropna(inplace=True) #removed any null value

In [9]:
data

,show_id,type,title,tags
2,s3,TV Show,Ganglands,"Julien LeclercqSami Bouajila, Tracy Gotoas, Sa..."
5,s6,TV Show,Midnight Mass,"Mike FlanaganKate Siegel, Zach Gilford, Hamish..."
6,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, José Luis UchaVanessa Hudgens, ..."
7,s8,Movie,Sankofa,"Haile GerimaKofi Ghanaba, Oyafunmike Ogunlano,..."
8,s9,TV Show,The Great British Baking Show,"Andy DevonshireMel Giedroyc, Sue Perkins, Mary..."
...,...,...,...,...
8801,s8802,Movie,Zinzana,"Majid Al AnsariAli Suliman, Saleh Bakri, Yasa,..."
8802,s8803,Movie,Zodiac,"David FincherMark Ruffalo, Jake Gyllenhaal, Ro..."
8804,s8805,Movie,Zombieland,"Ruben FleischerJesse Eisenberg, Woody Harrelso..."
8805,s8806,Movie,Zoom,"Peter HewittTim Allen, Courteney Cox, Chevy Ch..."
8806,s8807,Movie,Zubaan,"Mozez SinghVicky Kaushal, Sarah-Jane Dias, Raa..."

In [10]:
data.reset_index(inplace=True, drop=True)  #reseting the index after removing the null value

In [11]:
data

,show_id,type,title,tags
0,s3,TV Show,Ganglands,"Julien LeclercqSami Bouajila, Tracy Gotoas, Sa..."
1,s6,TV Show,Midnight Mass,"Mike FlanaganKate Siegel, Zach Gilford, Hamish..."
2,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, José Luis UchaVanessa Hudgens, ..."
3,s8,Movie,Sankofa,"Haile GerimaKofi Ghanaba, Oyafunmike Ogunlano,..."
4,s9,TV Show,The Great British Baking Show,"Andy DevonshireMel Giedroyc, Sue Perkins, Mary..."
...,...,...,...,...
5695,s8802,Movie,Zinzana,"Majid Al AnsariAli Suliman, Saleh Bakri, Yasa,..."
5696,s8803,Movie,Zodiac,"David FincherMark Ruffalo, Jake Gyllenhaal, Ro..."
5697,s8805,Movie,Zombieland,"Ruben FleischerJesse Eisenberg, Woody Harrelso..."
5698,s8806,Movie,Zoom,"Peter HewittTim Allen, Courteney Cox, Chevy Ch..."
5699,s8807,Movie,Zubaan,"Mozez SinghVicky Kaushal, Sarah-Jane Dias, Raa..."

MODEL CREATION

In [12]:
from sklearn.feature_extraction.text import CountVectorizer

CountVectorizer - used to convert the text data into numerical data before passing to the cosine_similarity algorithm

In [13]:
cv = CountVectorizer(max_features=5700, stop_words='english')

In [14]:
from sklearn.metrics.pairwise import cosine_similarity

Cosine similarity measures the similarity between two vectors by calculating the cosine of the angle between the two vectors.

In [15]:
vector = cv.fit_transform(data['tags'].values.astype('U')).toarray()

In [16]:
similarity = cosine_similarity(vector)

In [17]:
similarity

array([[1.        , 0.17647059, 0.06482037, ..., 0.        , 0.03429972,
        0.06726728],
       [0.17647059, 1.        , 0.03241019, ..., 0.03656362, 0.03429972,
        0.        ],
       [0.06482037, 0.03241019, 1.        , ..., 0.        , 0.07559289,
        0.07412493],
       ...,
       [0.        , 0.03656362, 0.        , ..., 1.        , 0.04264014,
        0.        ],
       [0.03429972, 0.03429972, 0.07559289, ..., 0.04264014, 1.        ,
        0.07844645],
       [0.06726728, 0.        , 0.07412493, ..., 0.        , 0.07844645,
        1.        ]])

PREDICTING VALUES FROM MODEL

In [18]:
data[data['title']=='Zodiac'].index[0] #taking an example

5696

In [19]:
similarity[5696]

array([0.        , 0.02819419, 0.03106849, ..., 0.03504998, 0.06575959,
       0.03224129])

In [20]:
similar_movies=sorted(list(enumerate(similarity[5696])), reverse=True, key =lambda vector:vector[1])

In [21]:
for i in similar_movies[1:6]:                                 #we want only 5 recommended movies
    print(data.iloc[i[0]].title)
    print(i[1])  #percentage of similarity

Gothika
0.24534987303147357
To and From New York
0.22629428592141426
Victim of Beauty
0.2102998911698345
The Highwaymen
0.21010507881568247
Forensic
0.20134681656420733

In [27]:
def recommend_movie(movie_name):
    # Check if the movie exists in the DataFrame
    if movie_name not in data['title'].values:
        print(f"The movie '{movie_name}' does not exist in the dataset.")
        return
    
    # Get the index of the movie
    movie_index = data[data['title'] == movie_name].index[0]
    
    # Assuming 'similarity' and 'data' are defined elsewhere in your code
    similar_movies = sorted(list(enumerate(similarity[movie_index])), reverse=True, key=lambda vector: vector[1])
    
    # Print recommendations
    print(f"Recommendations for '{movie_name}':")
    for i in similar_movies[1:6]:
        print(data.iloc[i[0]].title + ' with similarity of ' + str(i[1] * 100)[:5])  # Fixed the parenthesis here

        # Assuming 'i[1]' is the similarity score

# Call the function with the movie name
recommend_movie('Ganglands')

Recommendations for 'Ganglands':
The Forest of Love: Deep Cut with similarity of 51.18
Bangkok Breaking with similarity of 50.45
Dealer with similarity of 50.09
Sleepless Society: Two Pillows & A Lost Soul with similarity of 50.06
Innocent with similarity of 47.76

SAVING OUR MODEL

In [23]:
import pickle as pk

In [24]:
pk.dump(data, open('movie_dataset.pk1', 'wb'))

In [25]:
pk.dump(similarity, open('similarity.pk1', 'wb'))